# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dcs_douban.settings

[deploy:ubuntu-1]
url = http://10.1.80.7:6800/
project = dcs_douban
